@media only screen and (max-width:575px) {
    .welcome{
        text-align: center !important;
        margin: 70px 0px 0px 0px !important;

    }
    .slider{
        height: 100vh;
        border-radius: 20px;
    }
    .sld-img img {
        
        height:70vh !important;
        object-fit: contain;
}
.div>button{
   
    top: 0px;
    right:20px !important;
 
}
}