@media only screen and (max-width:575px) {
    .welcome{
        text-align: center !important;
        margin: 70px 0px 0px 0px !important;

    }
    .slider{
        height: 85vh !important;
        border-radius: 20px;
    }
    .sld-img img {
        
        height:100% !important;
        object-fit: cover;
        
}
.div>button{
   
    top: 0px;
    right:20px !important;
 
}
.content{
    margin-top: 10px !important;
}
.cards{
    margin-top: 10px !important;
}
}